<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<style>
    body{
        background-image:url("https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
    }
</style>    
<body>
    <header>
        <h1>Job Portal</h1>
    </header>
    <div class="container">
        <section class="job-seekers">
            <h2>Job Seekers</h2>
            <a href="{{url_for('apply')}}">Apply for Jobs</a>
            <a href="/certifications">View International Certifications</a>
        </section>
        <section class="organizations">
            <h2>Organizations</h2>
            <a href="/post">Post Job Openings</a>
        </section>
        <section class="unskilled-laborers">
            <h2>Unskilled Laborers</h2>
            <a href="/market-trends">View Current Market Trends</a>
        </section>
    </div>
</body>
</html>
